/* Primary Colors */
:root {
  --primary-color: #008080; /* Teal */
  --secondary-color: #f08080; /* Light Coral */
  --background-color: #f0f8ff; /* Alice Blue */
  --text-color: #333333; /* Dark Gray */
  --link-color: #20b2aa; /* Light Sea Green */
  --link-hover-color: #ff6347; /* Tomato */
}

/* General Styles */
body {
  background: var(--background-color) !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  color: var(--text-color);
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: var(--primary-color);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.navbar-brand {
  color: #ffffff !important;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: var(--link-hover-color) !important;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  color: var(--primary-color);
}

.custom-control-label {
  font-weight: 400;
  color: var(--text-color);
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: var(--link-color);
}

.forgot-password a:hover {
  color: var(--link-hover-color);
}

/* Button Styles */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: #ff4500; /* Orange Red */
  border-color: #ff4500;
}
